[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/Politofr09/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Politofr09/imgui/
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/Politofr09/tinyobjloader
